

<h1>Welcome to</h1>
<%= image_tag('cp-logo.png', alt: "chez-produce-logo", size: "500x51") %>
<%= button_to "Shop Now", items_path, method: :get %>

Chez Produce is a fruity fictitious e-commerce website created for a
project from the Backend Engineering program at Turing School of
Software & Design.

<h2>Project Contributors:</h2>
<li><a href="https://github.com/erin-king">Erin King</a></li>
<li><a href="https://github.com/jalena-penaligon">Jalena (Penaligon) Taylor</a></li>
<li><a href="https://github.com/stiehlrod">Jennica Stiehl</a></li>
<li><a href="https://github.com/hsmitha26">Smitha Hosmani</a></li>
